[Unit]
Description=NWAFU Network Login Checker

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min

Unit=nwafuLogin.service

[Install]
WantedBy=timers.target
